{% extends "base.html" %}

{% block content %}
    <h1>Welcome to <font color = '#6FAFD2'> Respondr</font> </h1>
    <h5>
        <font color = '#2C54D6'> A place for first responders to respond to each other </font>

    </h5>
    <br>
    <body>
         <div class="container">
              <img src="{{ logo }}" alt="Logo"  width="=35%"
                                                              height="25%">
             <br>
             <br>
             <h5>
                 Have fun, get active, meet people!
             </h5>
             <p>
                 Here at Respondr you can find out what activities are happening around you, whether they are
                 intramural sports or arts and crafts! Sign up and get notifications about when events are happening
                 near you and join a community of friends!
             </p>
        </div>
    </body>
{% endblock %}